__pycache__/
*.py[cod]
.idea/
.pytest_cache/
.pytest-tmp/
Samples/Google/tmp/
Samples/Variants/tmp/
Tests/tmp/
Temp/
.mypy_cache/
.pyright/
build/
dist/
*.egg-info/
.coverage
htmlcov/
.venv/
venv/
~*.*

